@font-face {
    font-family: 'Gobold';
    src: url('../fonts/Gobold Regular.otf') format('opentype'); 
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'KgPerfectPenmanship';
    src: url('../fonts/KgPerfectPenmanship.otf') format('opentype'); 
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #d89b787c;
    padding-top: 10em;
}

header {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
}

.logo {
    height: 150px;
    width: 150px;
}

nav a{
    color: #000000;
    text-decoration: none;
    font-family: 'KgPerfectPenmanship';
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    padding: 1em;
    display: inline-block;
    position: relative;
}

li::before {
    content: '';
    position: absolute;
    width: 100%; 
    height: 2px;
    background: linear-gradient(to right, #A23EA4);
    bottom: -5px; 
    left: 0;
    transform: scaleX(0);
    transform-origin: left; 
    transition: transform 0.4s ease-out;
}

li:hover::before {
    transform: scaleX(1);
}

h1 {
    color: #000000;
    font-family: 'Gobold';
    font-size: 96px;
    text-align: center;
}

.hero {
    display: grid;
    grid-template-columns: 300px 1fr;
    align-items: center;
    gap: 50px;
    width: 85%;
    margin: 50px auto 100px auto;
}

.pdp {
    grid-column: 1;
    width: 380;
    height: 560px;
    border-radius: 25px;
}

.intro {
    grid-column: 2;
    font-family: 'KgPerfectPenmanship', sans-serif;
    font-size: 24px;
    text-align: left;
    margin: 0 0 12px 0;
    line-height: -15px;
    padding-left: 20em;
}

.btn {
    grid-column: 2;
    margin-left: 480px;
    color: #ffffff;
    background-color: #A23EA4;
    font-family: 'KgPerfectPenmanship';
    font-size: 40px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    height: 100px;
    width: 400px;
}

.btn:hover {
    background-color: #822f84;
}

h2 {
    color: #000000;
    font-family: 'Gobold';
    font-size: 48px;
    text-align: left;
    padding: 1em
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 20px;
}

.card {
    flex: 1;
    padding: 20px;
    text-align: center;
}

.dev-mobile {
    height: 400px;
    width: 400px;
    border-radius: 25px;
}

.eco-conception {
    height: 400px;
    width: 400px;
    border-radius: 25px;
}

.maintenance-suivi {
    height: 400px;
    width: 400px;
    border-radius: 25px;
}

p {
    font-family: 'KgPerfectPenmanship', sans-serif;
    font-size: 24px;
}

.card-project {
    display: flex;
    flex-direction: column;
    gap: 80px;
    width: 100%;
}

.projet-item {
    width: 1325px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.projets {
    text-align: left;
    width: 100%;
    margin: 5px 0;
    font-family: 'KgPerfectPenmanship';
    font-size: 24px;
}

.cafthe {
    width: 1325px;
    height: 618px;
    border-radius: 25px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em;
}

.app-sante-mentale {
    width: 1325px;
    height: 618px;
    border-radius: 25px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em;
}

.cuisto-color {
    width: 1325px;
    height: 618px;
    border-radius: 25px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em;
}

h3 {
    color: #000000;
    font-family: 'KgPerfectPenmanship';
    font-size: 32px;
    text-align: left;
    padding: 1.5em;
}

.mes-competences {
    width: 80%;
    margin: 0 auto 100px auto;
}

.tag-container {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;
}

.tag {
    display: inline-block;
    background-color: #A23EA4;
    color: #ffffff;
    margin: 5px;
    border-radius: 25px;
    font-family: 'KgPerfectPenmanship';
    padding: 8px 20px;
    font-size: 32px;
    margin-left: 1.5em;
}